
#hightscore-form {
    background-color: #363636;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin:  auto;
    width: 600px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
#hightscore-form h1 {
    background-color: #292829;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    color: #D5B45B;
    padding: 20px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}
#hightscore-form fieldset {
    border: none;
    padding: 20px;
    position: relative;
    color: white;
}
.table {
    border-collapse: collapse;
    counter-reset: schetchik;
    color:white;
    width: 100%;
}
.table tbody tr {
    counter-increment: schetchik; /* сосчитать только tr в tbody */
    text-align: center;
}
    .table td,
    .table tbody tr:before {
        padding: .1em .5em;
    }
    .table tbody tr:before {
        display: table-cell;
        vertical-align: middle;
    }
    .table tbody tr:before,
    .table b:after {
        content: counter(schetchik);
    }

