@page
@model WebPacMan.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<header>
    <a asp-page="Menu" class="logo"> PacMan </a>
</header>
<link rel="stylesheet" href="~/css/HightScore.css" />

<div id="hightscore-form">
    <h1>About Game</h1>
    <fieldset>
        <form>
            <p>
                Pac-Man (Japanese: パックマン Hepburn: Pakkuman), stylized as PAC-MAN, is an arcade game developed
                by Namco and first released in Japan as Puck Man in May 1980. It was created by Japanese video game
                designer Toru Iwatani. It was licensed for distribution in the United States by Midway Games and
                released in October 1980. Immensely popular from its original release to the present day, Pac-Man is
                considered one of the classics of the medium, and an icon of 1980s popular culture.
                Upon its release, the game—and, subsequently, Pac-Man derivatives—became a social phenomenon that
                yielded high sales of merchandise and inspired a legacy in other media, such as the Pac-Man animated
                television series and the top-ten Buckner and Garcia hit single "Pac-Man Fever". Pac-Man was popular
                in the 1980s and 1990s and is still played in the 2010s.
                When Pac-Man was released, the most popular arcade video games were space shooters—in particular,
                Space Invaders and Asteroids. The most visible minority were sports games that were mostly derivatives
                of Pong.Pac-Man succeeded by creating a new genre. Pac-Man is often credited with being a landmark in
                video game history and is among the most famous arcade games of all time. It is also one of the
                highest-grossing video games of all time, having generated more than $2.5 billion in quarters by the 1990s.
            </p>
        </form>
    </fieldset>
</div>
