@page
@model WebPacMan.Pages.RegistarationModel
@{
    ViewData["Title"] = "Registaration";
}
<header>
    <a asp-page="Index" class="logo"> PacMan </a>
</header>

<div id="login-form">
    <h1>Registaration</h1>
    <fieldset>
        <form method="post">
            <div>
                <div>
                    <label asp-for="User.Email">Email:</label><br />
                    <input type="email" asp-for="User.Email" />
                    <span asp-validation-for="User.Email" />
                </div>
                <div>
                    <label asp-for="User.Password">Password:</label><br />
                    <input type="password" asp-for="User.Password" />
                    <span asp-validation-for="User.Password" />
                </div>
                <div>
                    <label asp-for="User.NickName">NickName:</label><br />
                    <input asp-for="User.NickName" />
                    <span asp-validation-for="User.NickName" />
                </div>
                <div>
                    <input type="submit" asp-page-handler="Regsteration" value="Ввести">
                </div>
            </div>
        </form>
    </fieldset>

</div>

