@page
@model WebPacMan.Pages.RulesModel
@{
    ViewData["Title"] = "Rules";
}
<header>
    <a asp-page="Menu" class="logo"> PacMan </a>
</header>

<link rel="stylesheet" href="~/css/HightScore.css" />


<div id="hightscore-form">
    <h1>Rules</h1>
    <fieldset>
        <form>
            <p>
                The player navigates Pac-Man through a maze containing various dots, known as Pac-Dots, and four multi-colored ghosts:
                Blinky, Pinky, Inky, and Clyde. The goal of the game is to accumulate points by eating all the Pac-Dots in the maze,
                completing that 'stage' of the game and starting the next stage and maze of Pac-dots. Between some stages, one of three
                intermission animations plays.[23] The four ghosts roam the maze, trying to kill Pac-Man. If any of the ghosts hit Pac-Man,
                he loses a life; when all lives have been lost, the game is over. Pac-Man is awarded a single bonus life at 10,000 points by
                default—DIP switches inside the machine can change the required points to 15,000 or 20,000, or disable the bonus life altogether.
                The number of lives can be set to 1 life only or up to five lives maximum. High score cannot exceed 999,990 points; players
                may exceed that score, but the game keeps the last 6 digits. There are 256 levels in total, however, when the game was made,
                the memory ran out at 256, so it is only half loaded while the other half is a jumble of letters and digits.90s.
            </p>
        </form>
    </fieldset>
</div>
