<html>
<head>
    <meta charset="utf-8">
    <title>PacMan</title>
</head>
<body>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - RazorPages</p>
        </footer>
    </div>
</body>
</html>
